./Misc-Ignore/*
*.csv
*.xlsx

# dependencies
majors-react-app/node_modules
majors-react-app/.pnp
majors-react-app/.pnp.js

# testing
majors-react-app/coverage

# production
majors-react-app/build

# misc
majors-react-app/.DS_Store
majors-react-app/.env.local
majors-react-app/.env.development.local
majors-react-app/.env.test.local
majors-react-app/.env.production.local
majors-react-app/npm-debug.log*
majors-react-app/yarn-debug.log*
majors-react-app/yarn-error.log*
